<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
    <link href="/css/admin/categories-management.css" rel="stylesheet">
    <link href="/css/notification/notification.css" rel="stylesheet" type="text/css">
    <script src="/js/admin/categories-management.js" type="module"></script>
</head>
<body>
    <div th:replace="~{/admin/sidebar/sidebar.html :: sidebar}"></div>
    <main class="main-content">
        <div class="title-container" id="title-container">
            <button class="item-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                </svg>
            </button>
            <h1 class="page-title">
                Управление категориями
            </h1>
        </div>
        <div class="page-container">
            <div class="categories-list" id="categories-list"></div>
        </div>
        <div id="notification-container"></div>
    </main>
</body>
</html>