<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование продукта</title>
    <link href="/admin/css/editingProduct.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a th:href="@{/admin/product}">Назад к списку продуктов</a>
    <h1>Редактирование продукта</h1>
    <div id="product-id" th:data-id="${product.id}">
        <form id="productCreationForm" name="productCreationForm">
            <div class="image-preview-container">
                <div id="imagePreview" class="preview-container">
                    <!-- existing images -->
                    <div th:each="image : ${product.imagePaths}" class="image-item">
                        <img th:src="@{/api/admin/product/{id}/{image}(id=${product.id},image=${image})}"
                             th:alt="${product.name}"
                             width="350px">
                        <button class="delete-image-btn"
                                onclick="deleteImage(this)">×</button>
                    </div>

                    <!-- new images -->
                </div>

                <label class="file-input-label">
                    <input type="file" id="imageInput" accept="image/*" multiple hidden>
                    + Добавить изображения
                </label>
            </div>
            <div>
              <label class="input-group" for="name">
                Название товара
                <input class="input-group" type="text" id="name" th:value="${product.name}" required>
              </label>
            </div>
            <div>
              <label class="input-group" for="type">
                Тип товара
                <input class="input-group" type="text" id="type" th:value="${product.type}" required>
              </label>
            </div>
            <div>
              <label class="input-group" for="price">
                Цена
                <input class="input-group" type="number" id="price" step="0.01" th:value="${product.price}" required>
              </label>
            </div>
            <div class="form-radio">
              <fieldset>
                <legend>Требуется рецепт</legend>
                <label class="radio-label">
                  <input type="radio" name="recipe" class="recipe-input" value="1" th:checked="${product.recipe == true}">
                  Да
                </label>
                <label class="radio-label">
                  <input type="radio" name="recipe" class="recipe-input" value="0" th:checked="${product.recipe == false}">
                  Нет
                </label>
              </fieldset>
            </div>
            <div>
                <label class="input-group" for="active-ingredient">
                    Активный ингредиент
                    <input class="input-group" type="text" id="active-ingredient"
                           th:value="${product.activeIngredient}" required>
                </label>
            </div>
            <div>
                <label class="input-group" for="expiration-date">
                    Срок годности
                    <input class="input-group" type="text" id="expiration-date"
                           th:value="${product.expirationDate}" required>
                </label>
            </div>
            <div>
                <label class="input-group" for="composition">Состав</label>
                <textarea class="input-group" id="composition" th:text="${product.composition}"></textarea>
            </div>
            <div>
                <label class="input-group" for="indications">Показания</label>
                <textarea class="input-group" id="indications" th:text="${product.indication}"></textarea>
            </div>
            <div>
                <label class="input-group" for="contraindications">Противопоказания</label>
                <textarea class="input-group" id="contraindications" th:text="${product.contraindication}"></textarea>
            </div>
            <div>
                <label class="input-group" for="side-effects">Побочные эффекты</label>
                <textarea class="input-group" id="side-effects" th:text="${product.sideEffect}"></textarea>
            </div>
            <div>
                <label class="input-group" for="interactions">Взаимодействия</label>
                <textarea class="input-group" id="interactions" th:text="${product.interaction}"></textarea>
            </div>
            <div>
                <label class="input-group" for="admission-course">Курс приема</label>
                <textarea class="input-group" id="admission-course" th:text="${product.admissionCourse}"></textarea>
            </div>
            <div>
                <label class="input-group" for="overdose">Передозировка</label>
                <textarea class="input-group" id="overdose" th:text="${product.overdose}"></textarea>
            </div>
            <div>
                <label class="input-group" for="release-form">Форма выпуска</label>
                <textarea class="input-group" id="release-form" th:text="${product.releaseForm}"></textarea>
            </div>
            <div>
                <label class="input-group" for="special-instructions">Специальные показания</label>
                <textarea class="input-group" id="special-instructions" th:text="${product.specialInstruction}"></textarea>
            </div>
            <div>
                <label class="input-group" for="storage-conditions">Условия хранения</label>
                <textarea class="input-group" id="storage-conditions" th:text="${product.storageCondition}"></textarea>
            </div>
            <div id="supplierPart" th:data="${product.supplier.itn}">
                <details>
                    <summary class="section-header">
                        <h2>Поставщик</h2>
                        <span class="arrow"></span>
                    </summary>
                    <div class="input-group">
                        <label class="input-group" for="itn">
                            ИНН
                            <input class="input-group" type="text" id="itn" th:value="${product.supplier.itn}" required>
                        </label>
                    </div>
                    <div class="input-group">
                        <label class="input-group" for="supplierName">
                            Название поставщика
                            <input class="input-group" type="text" id="supplierName"
                                   th:value="${product.supplier.name}" required>
                        </label>
                    </div>
                    <div class="input-group" id="addressPart" th:data-id="${product.supplier.address.id}">
                        <details>
                            <summary class="section-header">
                                <h3>Адрес поставщика</h3>
                                <span class="arrow"></span>
                            </summary>
                            <label class="input-group" for="subject">
                                Область
                                <input class="input-group" type="text" id="subject"
                                       th:value="${product.supplier.address.subject}" required>
                            </label>
                            <label class="input-group" for="district">
                                Район
                                <input class="input-group" type="text" id="district"
                                       th:value="${product.supplier.address.district}">
                            </label>
                            <label class="input-group" for="settlement">
                                Город
                                <input class="input-group" type="text" id="settlement"
                                       th:value="${product.supplier.address.settlement}" required>
                            </label>
                            <label class="input-group" for="street">
                                Улица
                                <input class="input-group" type="text" id="street"
                                       th:value="${product.supplier.address.street}" required>
                            </label>
                            <label class="input-group" for="house">
                                Дом
                                <input class="input-group" type="text" id ="house"
                                       th:value="${product.supplier.address.house}" required>
                            </label>
                            <label class="input-group" for="apartment">
                                Квартира
                                <input class="input-group" type="text" id="apartment"
                                       th:value="${product.supplier.address.apartment}">
                            </label>
                            <label class="input-group" for="postalCode">
                                Почтовый индекс
                                <input class="input-group" type="text" id="postalCode"
                                       th:value="${product.supplier.address.postalCode}" required>
                            </label>
                        </details>
                    </div>
                </details>
            </div>
            <div id="manufacturerPart" th:data-id="${product.manufacturer.id}">
                <details>
                    <summary class="section-header">
                        <h2>Производитель</h2>
                        <span class="arrow"></span>
                    </summary>
                    <div>
                        <label class="input-group" for="manufacturerName">
                            Название производителя
                            <input type="text" id="manufacturerName"
                                   th:value="${product.manufacturer.name}" required>
                        </label>
                    </div>
                    <div>
                        <h3>Страна производителя</h3>
                        <label class="input-group" for="country">
                            Страна
                            <input type="text" id="country" th:value="${product.manufacturer.country}" required>
                        </label>
                    </div>
                </details>
            </div>
        </form>
        <div>
            <button id="save-btn">Сохранить</button>
            <button id="cancel-btn">Отмена</button>
            <button id="delete-btn">Удалить</button>
        </div>
    </div>
    <script src="/admin/js/editingProduct.js"></script>
</body>
</html>