<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <link href="/css/admin/mainDashboard.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:replace="~{/admin/sidebar/sidebar.html :: sidebar}"></div>
    <main class="main-content">
        <h1>Добро пожаловать в панель администрирования</h1>
        <div class="dashboard-cards">
            <!-- Карточка товаров -->
            <a href="/admin/product" class="card">
                <div class="card-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#3498db" stroke-width="1.5">
                        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"/>
                    </svg>
                </div>
                <h3>Управление товарами</h3>
                <p>Добавление, изменение и удаление товаров</p>
            </a>

            <!-- Карточка заказов -->
            <a href="/admin/orders" class="card">
                <div class="card-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#e74c3c" stroke-width="1.5">
                        <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4H6zM3 6h18M16 10a4 4 0 0 1-8 0"/>
                    </svg>
                </div>
                <h3>Управление заказами</h3>
                <p>Список и история заказов филиалов</p>
            </a>

            <!-- Карточка склада -->
            <a href="/admin/warehouse" class="card">
                <div class="card-icon">
                    <svg width="48" height="48" fill="#4CAF50"  class="bi bi-box2" viewBox="0 0 24 24">
                        <path d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3zM7.5 1H3.75L1.5 4h6zm1 0v3h6l-2.25-3zM15 5H1v10h14z"/>
                    </svg>
                </div>
                <h3>Управление складом</h3>
                <p>Добавление и удаление товаров со склада</p>
            </a>
        </div>
    </main>
</body>
</html>