<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
</head>
<body>
    <h2>Добро пожаловать в панель администрирования</h2>
    <div>
        <a>
            <h3>Управление товарами</h3>
            <p>Добавление, изменение и удаление товаров</p>
        </a>
    </div>
    <div>
        <a>
            <h3>Управление заказами</h3>
            <p>Список и история заказов филиалов</p>
        </a>
    </div>
    <div>
        <a>
            <h3>Управление складом</h3>
            <p>Добавление и удаление товаров со склада</p>
        </a>
    </div>
</body>
</html>