<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказ № [(${order.id})]</title>
    <link href="/css/admin/order-management.css" rel="stylesheet" type="text/css">
    <link href="/css/notification/notification.css" rel="stylesheet" type="text/css">
    <script type="module" src="/js/admin/order-management.js"></script>
</head>
<body>
    <div th:replace="~{/admin/sidebar/sidebar.html :: sidebar}"></div>
    <main class="main-content">
        <a class="back-link" th:href="@{/admin/orders/branch/{branchId}(branchId=${order.branch.id})}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
            Назад к списку заказов
        </a>
        <div>
            <div class="order-header">
                <h1>Заказ - № [(${order.id})]</h1>
            </div>
            <div class="order-content">
                <div class="order-info">
                    <h3>Информация о заказе</h3>
                    <p>Статус заказа: [(${order.statusOrder.name})]</p>
                    <p>Дата оформления заказа: [(${order.date})]</p>
                </div>
                <div class="order-customer">
                    <h3>Информация о покупателе</h3>
                    <p>[(${order.user.surname})] [(${order.user.name})] [(${order.user.lastName})]</p>
                    <p>Телефон: [(${order.user.mobilePhone})]</p>
                </div>
                <div class="items-container">
                    <h3>Корзина заказа</h3>
                    <div class="item" th:each="item : ${order.cartItems}">
                        <div class="item-image">
                            <a th:href="@{/catalog/{id}(id=${item.medicine.id})}">
                                <img th:src="@{/api/v1/product-image/{id}(id=${item.medicine.imagePaths.get(0).id})}"
                                     width="100px"
                                     th:alt="${item.medicine.name}">
                            </a>
                        </div>
                        <div class="item-title">
                            <a th:href="@{/catalog/{id}(id=${item.medicine.id})}">
                                [(${item.medicine.name})]
                            </a>
                            <p>Производитель: [(${item.medicine.manufacturer.name})]</p>
                        </div>
                        <div class="item-price">
                            <div class="item-price-value">
                                <p>Цена: [(${item.price})] ₽</p>
                            </div>
                            <div class="item-price-amount">
                                <p>[(${item.amount})] шт. x [(${item.medicine.price})] ₽</p>
                            </div>
                        </div>
                    </div>
                    <div class="order-price">
                        <span>Итого:</span>
                        <p>[(${order.result})] ₽</p>
                    </div>
                    <div th:if="${order.statusOrder.id == OrderStatus.DELIVERED.ordinal()}"
                         th:data-id="${order.id}"
                         id="order-interaction-container">
                        <button id="complete-order-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                                <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                                <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
                            </svg>
                            <span>Завершить заказ</span>
                        </button>
                        <button id="cancel-order-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                            <span>Отменить заказ</span>
                        </button>
                        <button id="refund-order-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
                            </svg>
                            <span>Вернуть заказ</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="notification-container"></div>
    </main>
</body>
</html>