<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление товарами</title>
</head>
<body>
    <h1>Управление товарами</h1>
    <p>Всего найдено: [(${products.getTotalElements()})] товаров</p>
    <div>
        <button>Добавить</button>
    </div>
    <div>
        <div class="product-item" th:each="item : ${products.content}">
            <a th:href="@{/admin/product/{id}(id=${item.id})}">
                <img src="https://cdn.kama-med.ru/images/products/1/6479/373201231/bint-elast.jpg"
                     width="50px"
                     alt="[(${item.name})]">
            </a>
            <div>
                <a th:href="@{/admin/product/{id}(id=${item.id})}" th:text="${item.name}"></a>
            </div>
            <div>
                <p>[(${item.price})] ₽</p>
            </div>
            <div>
                <button class="btn-edit" th:data="${item.id}">Изменить</button>
            </div>
            <div>
                <button class="btn-delete" th:data-id="${item.id}">Удалить</button>
            </div>
        </div>
    </div>
    <script src="/admin/js/productManagement.js"></script>
</body>
</html>