<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление товарами</title>
    <link href="/admin/css/productManagement.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Управление товарами</h1>
    <p>Всего найдено: [(${products.getTotalElements()})] товаров</p>
    <div>
        <button id="createBtn" class="createBtn">Добавить продукт</button>
    </div>
    <div>
        <button class="search-btn">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2">
                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
            </svg>
        </button>
    </div>
    <div id="modalBackdrop" style="display: none" class="modal-backdrop"></div>
    <div class="search-backdrop" style="display: none" id="search-backdrop"></div>
    <div id="search-container" class="search-container" style="display: none">
        <label for="search-field">
            <input id="search-field" class="search-field" type="text" placeholder="Поиск">
        </label>
        <div id="search-result-container" class="search-result-container"></div>
    </div>
    <div id="modal" style="display: none" aria-modal="true">
        <div class="modal-header">
            <button class="close" id="close-modal">&times;</button>
            <h2>Создать новый продукт</h2>
            <div>
                <button id="search-btn" class="search-btn">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#666" stroke-width="2">
                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-scroll-container">
                <form id="productCreationForm" name="productCreationForm">
                    <div id="supplierPart">
                        <div class="input-group">
                            <label class="input-group" for="itn">
                                ИНН
                                <input class="input-group" type="text" id="itn" required>
                            </label>
                        </div>
                        <div class="input-group">
                            <label class="input-group" for="supplierName">
                                Название поставщика
                                <input class="input-group" type="text" id="supplierName" required>
                            </label>
                        </div>
                        <div class="input-group">
                            <h3>Адрес поставщика</h3>
                            <label class="input-group" for="subject">
                                Область
                                <input class="input-group" type="text" id="subject" required>
                            </label>
                            <label class="input-group" for="district">
                                Район
                                <input class="input-group" type="text" id="district">
                            </label>
                            <label class="input-group" for="settlement">
                                Город
                                <input class="input-group" type="text" id="settlement" required>
                            </label>
                            <label class="input-group" for="street">
                                Улица
                                <input class="input-group" type="text" id="street" required>
                            </label>
                            <label class="input-group" for="house">
                                Дом
                                <input class="input-group" type="text" id ="house" required>
                            </label>
                            <label class="input-group" for="apartment">
                                Квартира
                                <input class="input-group" type="text" id="apartment">
                            </label>
                            <label class="input-group" for="postalCode">
                                Почтовый индекс
                                <input class="input-group" type="text" id="postalCode" required>
                            </label>
                        </div>
                    </div>
                    <div id="manufacturerPart" style="display: none">
                        <div>
                            <label class="input-group" for="manufacturerName">
                                Название производителя
                                <input type="text" id="manufacturerName" required>
                            </label>
                        </div>
                        <div>
                            <h3>Страна производителя</h3>
                            <label class="input-group" for="country">
                                Страна
                                <input type="text" id="country" required>
                            </label>
                        </div>
                    </div>
                    <div id="productPart" style="display: none">
                        <div class="image-preview-container">
                            <div id="imagePreview" class="preview-container"></div>
                            <label class="file-input-label">
                                <input type="file" id="imageInput" accept="image/*" multiple hidden>
                                + Добавить изображения
                            </label>
                        </div>
                        <div>
                            <label class="input-group" for="name">
                                Название товара
                                <input class="input-group" type="text" id="name" required>
                            </label>
                        </div>
                        <div>
                            <label class="input-group" for="type">
                                Тип товара
                                <input class="input-group" type="text" id="type" required>
                            </label>
                        </div>
                        <div>
                            <label class="input-group" for="price">
                                Цена
                                <input class="input-group" type="number" id="price" step="0.01" required>
                            </label>
                        </div>
                        <div class="form-radio">
                            <fieldset>
                                <legend>Требуется рецепт</legend>
                                <label class="radio-label">
                                    <input type="radio" name="recipe" class="recipe-input" value="1">
                                    Да
                                </label>
                                <label class="radio-label">
                                    <input type="radio" name="recipe" class="recipe-input" value="0" checked>
                                    Нет
                                </label>
                            </fieldset>
                        </div>
                        <div>
                            <label class="input-group" for="activeIngredient">
                                Активный ингредиент
                                <input class="input-group" type="text" id="activeIngredient" required>
                            </label>
                        </div>
                        <div>
                            <label class="input-group" for="expirationDate">
                                Срок годности
                                <input class="input-group" type="text" id="expirationDate" required>
                            </label>
                        </div>
                        <div>
                            <label class="input-group" for="composition">Состав</label>
                            <textarea class="input-group" id="composition"></textarea>
                        </div>
                        <div>
                            <label class="input-group" for="indication">Показания</label>
                            <textarea class="input-group" id="indication"></textarea>
                        </div>
                        <div>
                            <label class="input-group" for="contraindication">Противопоказания</label>
                            <textarea class="input-group" id="contraindication"></textarea>
                        </div>
                        <div>
                            <label class="input-group" for="sideEffect">Побочные эффекты</label>
                            <textarea class="input-group" id="sideEffect"></textarea>
                        </div>
                        <div>
                            <label class="input-group" for="interaction">Взаимодействия</label>
                            <textarea class="input-group" id="interaction"></textarea>
                        </div>
                        <div>
                            <label class="input-group" for="admissionCourse">Курс приема</label>
                            <textarea class="input-group" id="admissionCourse"></textarea>
                        </div>
                        <div>
                            <label class="input-group" for="overdose">Передозировка</label>
                            <textarea class="input-group" id="overdose"></textarea>
                        </div>
                        <div>
                            <label class="input-group" for="releaseForm">Форма выпуска</label>
                            <textarea class="input-group" id="releaseForm"></textarea>
                        </div>
                        <div>
                            <label class="input-group" for="specialInstruction">Специальные показания</label>
                            <textarea class="input-group" id="specialInstruction"></textarea>
                        </div>
                        <div>
                            <label class="input-group" for="storageCondition">Условия хранения</label>
                            <textarea class="input-group" id="storageCondition"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button id="accept">Создать</button>
            <button id="cancel">Отмена</button>
        </div>
    </div>
    <div>
        <div class="product-item" th:each="item : ${products.content}">
            <a th:href="@{/admin/product/{id}(id=${item.id})}">
                <div th:unless="${item.imagePaths.isEmpty()}">
                    <img th:src="@{/api/product-image/{id}(id=${item.imagePaths.get(0).id})}"
                         width="50px"
                         th:alt="${item.name}">
                </div>
                <div th:if="${item.imagePaths.isEmpty()}" class="image-unavailable"></div>
            </a>
            <div>
                <a th:href="@{/admin/product/{id}(id=${item.id})}" th:text="${item.name}"></a>
            </div>
            <div>
                <p>[(${item.price})] ₽</p>
            </div>
            <div>
                <button class="btn-update" th:data-id="${item.id}">Изменить</button>
            </div>
            <div>
                <button class="btn-delete" th:data-id="${item.id}">Удалить</button>
            </div>
        </div>
    </div>
    <script src="/admin/js/productManagement.js"></script>
</body>
</html>