<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поступление товара</title>
    <link href="/css/admin/warehouse-receipt.css" rel="stylesheet" type="text/css">
    <script src="/js/admin/warehouse-receipt.js" type="module"></script>
</head>
<body>
    <div th:replace="~{/admin/sidebar/sidebar.html :: sidebar}"></div>
    <main class="main-content">
        <div class="search-backdrop" style="display: none" id="search-backdrop"></div>
        <div id="search-container" class="search-container" style="display: none">
            <label for="search-field">
                <input id="search-field" class="search-field" type="text" placeholder="Поиск">
            </label>
            <div id="search-result-container" class="search-result-container"></div>
        </div>
        <h1 class="page-title">Оформление поступления на склад</h1>
        <div class="page-container">
            <div>
                <button id="search-btn">Добавить продукт из базы данных</button>
                <button>Импортировать из файла</button>
            </div>
            <div class="product-list" id="product-list"></div>
            <div>
                <button class="save-btn">Сохранить</button>
                <button class="cancel-btn">Отменить</button>
            </div>
        </div>
    </main>
</body>
</html>