<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поступление товара</title>
    <link href="/css/admin/warehouse-receipt.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div th:replace="~{/admin/sidebar/sidebar.html :: sidebar}"></div>
    <main class="main-content">
        <h1 class="page-title">Оформление поступления на склад</h1>
        <div class="page-container">
            <div class="input-group">
                <label for="name">
                    Название продукта
                    <input type="text" id="name" placeholder="Название продукта">
                </label>
                <label for="quantity">
                    Количество товара
                    <input type="number" id="quantity" placeholder="1 шт.">
                </label>
                <button>
                    Добавить
                </button>
            </div>
            <div class="product-list"></div>
            <div>
                <button class="add-btn">Сохранить</button>
                <button class="cancel-btn">Отменить</button>
            </div>
        </div>
    </main>
</body>
</html>