<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/base.css" rel="stylesheet"/>
    <link href="/css/news/news.css" rel="stylesheet"/>
    <script src="/js/news/news.js" type="module"></script>
</head>
<body>
    <div th:replace="~{/page-header.html :: page-header}"></div>
    <main class="main-content" id="main-content" th:data-slug="${newsSlug}">
        <div class="news-container" id="news-container"></div>
    </main>
    <div th:replace="~{/page-footer.html :: page-footer}"></div>
</body>
</html>