<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение основной информации филиала</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="/css/admin/admin-base.css" rel="stylesheet"/>
    <link href="/css/admin/admin-form.css" rel="stylesheet"/>
</head>
<body>
    <div th:replace="~{/admin/sidebar/sidebar.html :: sidebar}"></div>
    <main class="main-content">
        <div class="title-container" id="title-container">
            <a href="/admin/branch" class="active item-btn" id="back-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                </svg>
            </a>
            <h1 class="page-title">Изменение адреса филиала</h1>
        </div>
        <div class="frame">
            <form id="branch-address-info-editing-form">
                <label class="input-group" for="subject">
                    Область
                    <input class="input-group" id="subject" type="text" maxlength="30">
                </label>
                <label class="input-group" for="district">
                    Район (опционально)
                    <input class="input-group" id="district" type="text" maxlength="30">
                </label>
                <label class="input-group" for="settlement">
                    Город
                    <input class="input-group" id="settlement" type="text" maxlength="30">
                </label>
                <label class="input-group" for="street">
                    Улица
                    <input class="input-group" id="street" type="text" maxlength="30">
                </label>
                <label class="input-group" for="house">
                    Дом
                    <input class="input-group" id="house" type="text" maxlength="5">
                </label>
                <label class="input-group" for="apartment">
                    Квартира (опционально)
                    <input class="input-group" id="apartment" type="text" maxlength="5">
                </label>
                <label class="input-group" for="postal-code">
                    Почтовый код
                    <input class="input-group" id="postal-code" type="text" maxlength="6">
                </label>
                <div class="context-action-container">
                    <button type="submit" id="save-btn" class="action-btn agree-btn">Сохранить</button>
                    <button type="button" id="cancel-btn" class="action-btn disagree-btn">Отмена</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>