<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение рабочих часов филиала</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="/css/admin/admin-base.css" rel="stylesheet"/>
    <link href="/css/admin/admin-form.css" rel="stylesheet"/>
    <link href="/css/admin/branch-editing.css" rel="stylesheet"/>
    <script src="/js/admin/branch-working-hours-info-editing.js" type="module"></script>
</head>
<body>
    <div th:replace="~{/admin/sidebar/sidebar.html :: sidebar}"></div>
    <main class="main-content">
        <div class="title-container" id="title-container">
            <a href="/admin/branch" class="active item-btn" id="back-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                </svg>
            </a>
            <h1 class="page-title">Изменение рабочих часов филиала</h1>
        </div>
        <div class="frame">
            <form id="branch-working-hours-info-editing-form">
                <div class="day-row" data-day="MONDAY">
                    <div class="time-input-group time-controls">
                        <label class="input-group">
                            Понедельник
                            <input class="input-group" type="time" name="open-time" value="08:00">
                            <span>—</span>
                            <input class="input-group" type="time" name="close-time" value="21:00">
                        </label>
                    </div>
                    <div class="time-shortcut">
                        <label class="slider-wrapper">
                            <input type="checkbox" name="day-off">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Выходной</span>
                        <label class="slider-wrapper">
                            <input type="checkbox" name="around-clock">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Круглосуточно</span>
                    </div>
                </div>
                <div class="day-row" data-day="TUESDAY">
                    <div class="time-input-group time-controls">
                        <label class="input-group">
                            Вторник
                            <input class="input-group" type="time" name="open-time" value="08:00">
                            <span>—</span>
                            <input class="input-group" type="time" name="close-time" value="21:00">
                        </label>
                    </div>
                    <div class="time-shortcut">
                        <label class="slider-wrapper">
                            <input type="checkbox" name="day-off">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Выходной</span>
                        <label class="slider-wrapper">
                            <input type="checkbox" name="around-clock">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Круглосуточно</span>
                    </div>
                </div>
                <div class="day-row" data-day="WEDNESDAY">
                    <div class="time-input-group time-controls">
                        <label class="input-group">
                            Среда
                            <input class="input-group" type="time" name="open-time" value="08:00">
                            <span>—</span>
                            <input class="input-group" type="time" name="close-time" value="21:00">
                        </label>
                    </div>
                    <div class="time-shortcut">
                        <label class="slider-wrapper">
                            <input type="checkbox" name="day-off">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Выходной</span>
                        <label class="slider-wrapper">
                            <input type="checkbox" name="around-clock">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Круглосуточно</span>
                    </div>
                </div>
                <div class="day-row" data-day="THURSDAY">
                    <div class="time-input-group time-controls">
                        <label class="input-group">
                            Четверг
                            <input class="input-group" type="time" name="open-time" value="08:00">
                            <span>—</span>
                            <input class="input-group" type="time" name="close-time" value="21:00">
                        </label>
                    </div>
                    <div class="time-shortcut">
                        <label class="slider-wrapper">
                            <input type="checkbox" name="day-off">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Выходной</span>
                        <label class="slider-wrapper">
                            <input type="checkbox" name="around-clock">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Круглосуточно</span>
                    </div>
                </div>
                <div class="day-row" data-day="FRIDAY">
                    <div class="time-input-group time-controls">
                        <label class="input-group">
                            Пятница
                            <input class="input-group" type="time" name="open-time" value="08:00">
                            <span>—</span>
                            <input class="input-group" type="time" name="close-time" value="21:00">
                        </label>
                    </div>
                    <div class="time-shortcut">
                        <label class="slider-wrapper">
                            <input type="checkbox" name="day-off">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Выходной</span>
                        <label class="slider-wrapper">
                            <input type="checkbox" name="around-clock">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Круглосуточно</span>
                    </div>
                </div>
                <div class="day-row" data-day="SATURDAY">
                    <div class="time-input-group time-controls">
                        <label class="input-group">
                            Суббота
                            <input class="input-group" type="time" name="open-time" value="09:00">
                            <span>—</span>
                            <input class="input-group" type="time" name="close-time" value="21:00">
                        </label>
                    </div>
                    <div class="time-shortcut">
                        <label class="slider-wrapper">
                            <input type="checkbox" name="day-off">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Выходной</span>
                        <label class="slider-wrapper">
                            <input type="checkbox" name="around-clock">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Круглосуточно</span>
                    </div>
                </div>
                <div class="day-row" data-day="SUNDAY">
                    <div class="time-input-group time-controls">
                        <label class="input-group">
                            Воскресенье
                            <input class="input-group" type="time" name="open-time" value="09:00">
                            <span>—</span>
                            <input class="input-group" type="time" name="close-time" value="21:00">
                        </label>
                    </div>
                    <div class="time-shortcut">
                        <label class="slider-wrapper">
                            <input type="checkbox" name="day-off">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Выходной</span>
                        <label class="slider-wrapper">
                            <input type="checkbox" name="around-clock">
                            <span class="slider"></span>
                        </label>
                        <span class="shortcut-label">Круглосуточно</span>
                    </div>
                </div>
                <div class="context-action-container">
                    <button id="save-btn" class="action-btn agree-btn">Сохранить</button>
                    <button id="cancel-btn" class="action-btn disagree-btn">Отмена</button>
                    <button id="delete-btn" class="action-btn delete-btn" hidden="hidden">Удалить</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>