<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение прикрепленных сотрудников филиала</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="/css/admin/admin-base.css" rel="stylesheet"/>
    <link href="/css/admin/admin-form.css" rel="stylesheet"/>
    <link href="/css/search/search.css" rel="stylesheet"/>
    <script src="/js/admin/branch-users-editing.js" type="module"></script>
</head>
<body>
    <div th:replace="~{/admin/sidebar/sidebar.html :: sidebar}"></div>
    <main class="main-content">
        <div class="search-backdrop" style="display: none" id="search-backdrop"></div>
        <div id="search-container" class="search-container" style="display: none">
            <label for="search-field">
                <input id="search-field" class="search-field" type="text" placeholder="Поиск">
            </label>
            <div id="search-result-container" class="search-result-container"></div>
        </div>
        <div class="title-container" id="title-container">
            <a href="/admin/branch" class="active item-btn" id="back-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                </svg>
            </a>
            <h1 class="page-title">Изменение прикрепленных сотрудников филиала</h1>
        </div>
        <div class="frame">
            <button id="add-user-btn" class="action-btn agree-btn">Добавить сотрудника</button>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Пользователь</th>
                            <th>Телефон</th>
                            <th>Роль</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody id="users-table-body"></tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>