<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link href="/css/catalog/catalog.css" rel="stylesheet" type="text/css">
    <link href="/css/base.css" rel="stylesheet"/>
    <link href="/css/product/product-card.css" rel="stylesheet">
    <script src="/js/catalog/catalog.js" type="module"></script>
</head>
<body>
    <div th:replace="~{/page-header.html :: page-header}"></div>
    <div class="catalog-page">
        <h1 class="catalog-header" id="catalog-header"></h1>
        <div class="filter-container">
            <form action="/api/v1/catalog" id="filter-form">
                <div class="filter-section">
                    <h3>Цена</h3>
                    <div class="price-filter-group">
                        <label for="minPrice" class="price-filter-group">
                            <input class="price-input" type="number" id="minPrice" name="minPrice" placeholder="От">
                        </label>
                        <label for="maxPrice" class="price-filter-group">
                            <input class="price-input" type="number" id="maxPrice" name="maxPrice" placeholder="До">
                        </label>
                    </div>
                </div>
                <div class="filter-section">
                    <h3>Действующее вещество</h3>
                    <ul id="active-ingredient-filter-container"></ul>
                </div>
                <div class="filter-section">
                    <h3>Производитель</h3>
                    <ul id="manufacturer-filters-container"></ul>
                </div>
                <div class="filter-section">
                    <h3>Страна</h3>
                    <ul id="country-filter-container"></ul>
                </div>
                <div class="filter-section">
                    <h3>Рецепт</h3>
                    <label>
                        <input type="radio" name="recipe" value="0" checked>
                        <span class="checkmark"></span>
                        Не важно
                    </label>
                    <label>
                        <input type="radio" name="recipe" value="1">
                        <span class="checkmark"></span>
                        С рецептом
                    </label>
                    <label>
                        <input type="radio" name="recipe" value="2">
                        <span class="checkmark"></span>
                        Без рецепта
                    </label>
                </div>
                <div class="filter-actions">
                    <button type="submit" id="submit-button">Применить фильтрацию</button>
                    <button type="button" id="reset-filter-button">Сбросить фильтрацию</button>
                </div>
            </form>
        </div>
        <div class="product-list-container" id="product-list-container">
            <div class="sort-container">
                <label for="sort-selector">
                    Сортировать по
                    <select id="sort-selector">
                        <option value="price,asc">По возрастанию цены</option>
                        <option value="price,desc">По убыванию цены</option>
                    </select>
                </label>
            </div>
            <div class="product-grid" id="product-grid"></div>
        </div>
    </div>
    <div th:replace="~{/page-footer.html :: page-footer}"></div>
</body>
</html>