<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
<body>
    <h1>Лекарства [(${medicines.size()})] товаров</h1>
    <div th:each="medicine : ${medicines}">
        <img src="https://cdn.kama-med.ru/images/products/1/6479/373201231/bint-elast.jpg"
            width="200px" alt="[(${medicine.name})]">
        <p>[(${medicine.name})]</p>
        <p>[(${medicine.price})] ₽</p>
        <button>Купить</button>
    </div>
</body>
</html>