<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Аптека</title>
    <link href="/css/base.css" rel="stylesheet"/>
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/product/product-card.css" rel="stylesheet">
    <link href="/css/card/card.css" rel="stylesheet">
    <script src="/js/index.js" type="module"></script>
</head>
<body>
    <div th:replace="~{/page-header.html :: page-header}"></div>
    <main class="main-content">
        <div class="day-product-section" id="daily-product-section">
            <h2>Товары дня</h2>
            <div class="product-container" id="product-container"></div>
        </div>
        <div class="bestseller-section" id="bestseller-section">
            <h2>Хиты продаж</h2>
            <div class="product-container"></div>
        </div>
        <div class="news-section" id="news-section">
            <h2>Новости</h2>
            <a href="/news"><span>Подробнее</span></a>
            <div class="news-container" id="news-container"></div>
        </div>
        <div class="alphabetical-section">
            <h2>Препараты по алфавиту</h2>
            <div class="alphabetical-enum">
                <ul>
                    <li><a href="/catalog?name=А">А</a></li>
                    <li><a href="/catalog?name=Б">Б</a></li>
                    <li><a href="/catalog?name=В">В</a></li>
                    <li><a href="/catalog?name=Г">Г</a></li>
                    <li><a href="/catalog?name=Д">Д</a></li>
                    <li><a href="/catalog?name=Е">Е</a></li>
                    <li><a href="/catalog?name=Ё">Ё</a></li>
                    <li><a href="/catalog?name=Ж">Ж</a></li>
                    <li><a href="/catalog?name=З">З</a></li>
                    <li><a href="/catalog?name=И">И</a></li>
                    <li><a href="/catalog?name=Й">Й</a></li>
                    <li><a href="/catalog?name=К">К</a></li>
                    <li><a href="/catalog?name=Л">Л</a></li>
                    <li><a href="/catalog?name=М">М</a></li>
                    <li><a href="/catalog?name=Н">Н</a></li>
                    <li><a href="/catalog?name=О">О</a></li>
                    <li><a href="/catalog?name=П">П</a></li>
                    <li><a href="/catalog?name=Р">Р</a></li>
                    <li><a href="/catalog?name=С">С</a></li>
                    <li><a href="/catalog?name=Т">Т</a></li>
                    <li><a href="/catalog?name=У">У</a></li>
                    <li><a href="/catalog?name=Ф">Ф</a></li>
                    <li><a href="/catalog?name=Х">Х</a></li>
                    <li><a href="/catalog?name=Ц">Ц</a></li>
                    <li><a href="/catalog?name=Ч">Ч</a></li>
                    <li><a href="/catalog?name=Ш">Ш</a></li>
                    <li><a href="/catalog?name=Щ">Щ</a></li>
                    <li><a href="/catalog?name=Ъ">Ъ</a></li>
                    <li><a href="/catalog?name=Ы">Ы</a></li>
                    <li><a href="/catalog?name=Ь">Ь</a></li>
                    <li><a href="/catalog?name=Э">Э</a></li>
                    <li><a href="/catalog?name=Ю">Ю</a></li>
                    <li><a href="/catalog?name=Я">Я</a></li>
                </ul>
            </div>
        </div>
    </main>
    <div th:replace="~{/page-footer.html :: page-footer}"></div>
</body>
</html>