<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <footer th:fragment="page-footer" class="page-footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>О проекте</h4>
                <p>
                    Данный сайт представляет собой учебный проект, разработанный в качестве выпускной квалификационной работы.
                    Он не является действующим коммерческим ресурсом.
                </p>
                <p>
                    Вся информация о товарах (включая названия, описания, изображения и цены) размещена
                    в демонстрационных целях и не является публичной офертой.
                    Приобретение представленных препаратов невозможно.
                </p>
                <p>
                    Владелец сайта не несет ответственности за содержание информации, размещенной на сторонних ресурсах,
                    ссылки на которые могут присутствовать на сайте.
                </p>
            </div>
            <div class="footer-section">
                <h4>Контакты</h4>
                <p>Email: bushuev04@inbox.ru</p>
            </div>
            <div class="footer-bottom">
                <p>
                    © Бушуев Дмитрий, 2025
                </p>
            </div>
        </div>
        <link href="/css/page-footer.css" rel="stylesheet">
    </footer>
</body>
</html>