<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container">
        <header th:fragment="page-header" class="page-header">
            <a href="/">
                <img src="/api/v1/icons/header/logo.png" loading="lazy" class="logo" alt="Аптека" width="128px" height="25px">
            </a>
            <div class="dropdown" style="position: relative; display: inline-block;">
                <button class="btn btn-catalog" id="dropdownButton">
                    <img src="/api/v1/icons/header/list.png" loading="lazy" alt="Каталог" width="25" height="25">
                    Каталог
                </button>
                <div class="dropdown-menu" id="dropdownMenu">
                    <div class="category-panel">
                        <div class="category-list">
                            <div class="category-item" data-category="medicines">
                                <a href="/catalog/medicines">Лекарства</a>
                            </div>
                            <div class="category-item" data-category="vitamins">
                                <a href="/catalog/vitamins">Витамины и БАДы</a>
                            </div>
                            <div class="category-item" data-category="tests">
                                <a href="/catalog/express-tests">Экспресс-тесты</a>
                            </div>
                            <div class="category-item" data-category="hygiene">
                                <a href="/catalog/hygiene">Гигиена</a>
                            </div>
                            <div class="category-item" data-category="cosmetics">
                                <a href="/catalog/cosmetics">Косметика</a>
                            </div>
                            <div class="category-item" data-category="medical-techniques">
                                <a href="/catalog/medical-techniques">Медицинская техника</a>
                            </div>
                            <div class="category-item" data-category="medical-products">
                                <a href="/catalog/medical-products">Медицинские продукты</a>
                            </div>
                            <div class="category-item" data-category="child-products">
                                <a href="/catalog/child-products">Товары для мам и детей</a>
                            </div>
                            <div class="category-item" data-category="care-of-sick">
                                <a href="/catalog/care-of-sick">Уход за больными</a>
                            </div>
                        </div>
                        <div class="subcategory-container">
                            <div class="subcategory-block" data-category="medicines">
                                <a href="/catalog/allergy">Аллергия</a>
                                <a href="/catalog/gastroenterology">Пищеварительная система</a>
                                <a href="/catalog/hematology">Гематология</a>
                                <a href="/catalog/gynecology">Гинекология</a>
                                <a href="/catalog/dermatovenereology">Дерматовенерология</a>
                                <a href="/catalog/infectious">Инфекционное</a>
                                <a href="/catalog/cardiology">Кардиология</a>
                                <a href="/catalog/narcology">Наркология</a>
                                <a href="/catalog/neurology">Нервная система</a>
                                <a href="/catalog/oncology">Онкология</a>
                                <a href="/catalog/otorhinolaryngology">Оториноларингология</a>
                                <a href="/catalog/ophthalmology">Офтальмология</a>
                                <a href="/catalog/psychiatry">Психиатрия</a>
                                <a href="/catalog/pulmonology">Дыхательная система</a>
                                <a href="/catalog/resuscitation">Реанимация</a>
                                <a href="/catalog/rheumatology">Ревматология</a>
                                <a href="/catalog/dentistry">Стоматология</a>
                                <a href="/catalog/therapy">Терапия</a>
                                <a href="/catalog/urology">Мочеполовая система</a>
                                <a href="/catalog/phlebology">Флебология</a>
                                <a href="/catalog/surgery">Хирургия</a>
                                <a href="/catalog/endocrinology">Эндокринная система</a>
                            </div>
                            <div class="subcategory-block" data-category="vitamins">
                                <a href="/catalog/vitamins-mono">Витамины моно</a>
                                <a href="/catalog/polyvitamins">Поливитамины</a>
                                <a href="/catalog/vitamins-group-d">Витамины группы Д</a>
                                <a href="/catalog/vitamins-for-children">Витамины для детей</a>
                                <a href="/catalog/vitamins-for-pregnant-women">Витамины для беременных</a>
                                <a href="/catalog/vitamins-for-men">Витамины для мужчин</a>
                            </div>
                            <div class="subcategory-block" data-category="tests">
                                <a href="/catalog/test-strips-for-glucometers">Тест-полоски для глюкометров</a>
                                <a href="/catalog/pregnancy-tests">Тесты на беременность</a>
                                <a href="/catalog/tests-for-hiv-hepatitis-syphilis">Тесты на ВИЧ, гепатит, сифилис</a>
                                <a href="/catalog/women-tests">Тесты женские</a>
                                <a href="/catalog/infection-tests">Тесты на различные инфекции</a>
                                <a href="/catalog/ovulation-tests">Тесты на овуляцию</a>
                                <a href="/catalog/drug-addiction-tests">Тесты на наркологию</a>
                            </div>
                            <div class="subcategory-block" data-category="hygiene">
                                <a href="/catalog/sanitizer">Санитайзеры</a>
                                <a href="/catalog/paper-products">Бумажные изделия</a>
                                <a href="/catalog/wet-wipes">Влажные салфетки</a>
                                <a href="/catalog/intimate-hygiene">Интимная гигиена</a>
                                <a href="/catalog/sweating">Потливость</a>
                                <a href="/catalog/daily-pads">Прокладки ежедневные</a>
                                <a href="/catalog/pads-for-critical-days">Прокладки на критичные дни</a>
                                <a href="/catalog/tampons">Тампоны</a>
                                <a href="/catalog/oral-care-devices">Приборы для ухода за полостью рта</a>
                                <a href="/catalog/dentures">Протезы зубные</a>
                                <a href="/catalog/oral-care">Уход за полостью рта</a>
                            </div>
                            <div class="subcategory-block" data-category="cosmetics">
                                <a href="/catalog/aromatherapy">Ароматерапия</a>
                                <a href="/catalog/cosmetic-sets">Наборы косметические</a>
                                <a href="/catalog/shaving-products">Средства для бритья</a>
                                <a href="/catalog/hair-care">Уход за волосами</a>
                                <a href="/catalog/facial-care">Уход за лицом</a>
                                <a href="/catalog/foot-care">Уход за ногами</a>
                                <a href="/catalog/hand-care">Уход за руками</a>
                                <a href="/catalog/body-care">Уход за телом</a>
                                <a href="/catalog/manicure-tools">Маникюрные инструменты</a>
                                <a href="/catalog/sunscreens">Солнцезащитные средства</a>
                            </div>
                            <div class="subcategory-block" data-category="medical-techniques">
                                <a href="/catalog/scales">Весы</a>
                                <a href="/catalog/inhalers">Ингаляторы и небулайзеры</a>
                                <a href="/catalog/applicator">Иппликаторы/аппликаторы</a>
                                <a href="/catalog/irrigators">Ирригаторы</a>
                                <a href="/catalog/massagers">Массажеры</a>
                                <a href="/catalog/other-medical-products">Прочая мед.техника</a>
                                <a href="/catalog/consumables">Расходные материалы и аксессуары</a>
                                <a href="/catalog/stethoscopes">Стетоскопы</a>
                                <a href="/catalog/tonometers">Тонометры</a>
                                <a href="/catalog/glucometers">Глюкометры</a>
                            </div>
                            <div class="subcategory-block" data-category="medical-products">
                                <a href="/catalog/consumables">Расходные материалы</a>
                                <a href="/catalog/bandages">Бинты, вата, марля</a>
                                <a href="/catalog/calluses-protection">Защита от мозолей</a>
                                <a href="/catalog/adhesive-plasters">Лейкопластыри</a>
                                <a href="/catalog/functional-plasters">Пластыри и повязки функциональные</a>
                            </div>
                            <div class="subcategory-block" data-category="child-products">
                                <a href="/catalog/child-hygiene">Детская гигиена</a>
                                <a href="/catalog/child-accessories">Детские аксессуары</a>
                                <a href="/catalog/child-diapers">Детские подгузники и пеленки</a>
                                <a href="/catalog/products-for-mom">Товары для мамы</a>
                            </div>
                            <div class="subcategory-block" data-category="care-of-sick">
                                <a href="/catalog/adult-sheets">Взрослые пеленки, простыни</a>
                                <a href="/catalog/adult-diapers">Взрослые подгузники</a>
                                <a href="/catalog/female-incontinence">Недержание женское</a>
                                <a href="/catalog/products-for-mom">Недержание мужское</a>
                                <a href="/catalog/rubber-products">Резиновые изделия</a>
                                <a href="/catalog/stockings">Чулки и компрессионный трикотаж</a>
                                <a href="/catalog/care-for-bedridden-patients">Уход за лежачими больными</a>
                                <a href="/catalog/enteral-nutrition">Энтеральное питание</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-container">
                <input id="search-field" class="search-field" type="text" placeholder="Поиск по препарату">
                <button class="search-button">
                    <img src="/api/v1/icons/header/search-icon.png" loading="lazy" alt="Поиск" width="25px" height="25px">
                </button>
                <div id="search-result-container" class="search-result-container"></div>
            </div>
            <div class="user-actions">
                <a href="/wishlist" class="icon-btn">
                    <img src="/api/v1/icons/header/heart.png" loading="lazy" alt="Список желаемого">
                    <span>Список желаемого</span>
                </a>
                <a href="/cart" class="icon-btn">
                    <img src="/api/v1/icons/header/basket2.png" loading="lazy" alt="Корзина">
                    <span>Корзина</span>
                </a>
                <a href="user" class="icon-btn">
                    <img src="/api/v1/icons/header/person.png" loading="lazy" alt="Пользователь">
                    <span>Войти</span>
                </a>
            </div>
            <link href="/css/page-header.css" rel="stylesheet">
            <link href="/css/dropdown-catalog.css" rel="stylesheet">
            <script src="/js/dropdown-catalog.js"></script>
        </header>
    </div>
</body>
</html>