<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container">
        <header th:fragment="page-header" class="page-header">
            <a href="/">
                <img src="/api/v1/icons/header/logo.png" class="logo" alt="Аптека" width="128px" height="25px">
            </a>
            <button class="btn btn-catalog">
                <img src="/api/v1/icons/header/list.png" alt="Каталог" width="25px" height="25px">
                Каталог
            </button>
            <div class="search-container">
                <input id="search-field" class="search-field" type="text" placeholder="Поиск по препарату">
                <button class="search-button">
                    <img src="/api/v1/icons/header/search-icon.png" alt="Поиск" width="25px" height="25px">
                </button>
                <div id="search-result-container" class="search-result-container"></div>
            </div>
            <div class="user-actions">
                <a href="/wishlist" class="icon-btn">
                    <img src="/api/v1/icons/header/heart.png" alt="Список желаемого">
                </a>
                <a href="/cart" class="icon-btn">
                    <img src="/api/v1/icons/header/basket2.png" alt="Корзина">
                </a>
                <a href="user" class="icon-btn">
                    <img src="/api/v1/icons/header/person.png" alt="Пользователь">
                </a>
            </div>
            <link href="/css/page-header.css" rel="stylesheet">
        </header>
    </div>
</body>
</html>